body::before{
    display: block;
    content: '';
    height: 60px;
}

.c-nav-title{
    font-size: 1.5rem;
    color: #0800ea;
}

nav li :hover{
    text-decoration: underline;
}
.c-skill{
    background-color: #54379e;
    border-radius: 10px;
    height: 250px;
}
.card-ul{
    text-decoration: none;
    list-style: none;
    margin-left: -30px;
}

.c-title-color{
    color: #4307db;
}
.c-skills-container{
    border-radius: 10px;
    height: 300px;
}
.c-skill-row{
    margin-top: -200px;
}
.c-project-item-description{
    overflow: hidden;
}

.footer-links{
    text-decoration: none;
}

form{
    position: fixed;
    top: 10%;
    right: 14%;
    background-color: rgba(142, 126, 126, 0.665);
    padding: 30px;
    border-radius: 20px;
    line-height: 2rem;
    font-size: 1.05rem;
    width: 70%;
    height: 500px;
    backdrop-filter: blur(100px);
    z-index: 9999;
}

.close-btn{
    position: relative;
    left: 97%;
    top: -2%;
    cursor: pointer;
}
/* less than or equal to 990 pixels */
@media(max-width:991px){
    .c-project-item-description{
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 94%;
    }
}